node_modules/
.expo/
dist/
web-build/
android/
ios/

# Env
.env
.env.local
.env.*.local

# Local builds
*.apk
*.aab
*.ipa

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
